<html>

<head>
    <title>Configruation</title>
    <link rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../../../node_modules/material-icons/iconfont/material-icons.css">
    <script type="text/javascript">window.$ = window.jQuery = require('jquery');</script>
    <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Hello World</h1>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s10">
                        <input id="input_text" type="text" data-length="10" maxlength="10">
                        <label for="input_text">Input text</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input id="input_text" type="text" data-length="10" maxlength="10">
                        <label for="input_text">Input text</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="main.js"></script>

</html>