<html>

<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../../../node_modules/material-icons/iconfont/material-icons.css">
    <script type="text/javascript">
        window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</head>

<body>
    <div class="valign-wrapper base-container">
        <div class="valign" style="width:100%;">
            <div class="container center-align">
                <div id="container-progress-bar-search">
                    <!-- Libellé -->
                    <div class="row">
                        <p>Recherche des buzzer en cours . . .</p>
                    </div>
                    <!-- Progress bar -->
                    <div class="row">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>Liste des buzzer's à configurer :</p>
                </div>
                <div class="ssid-container">
                    <div class="row">
                        <div class="collection" id="ssid-collection"></div>
                    </div>
                </div>
                <div class="row">
                    <button id="button-scan" style="display:none;" class="btn waves-effect waves-light">Scanner
                        <i class="material-icons right">network_check</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal d'attente de connexion -->
    <div id="modal-connection" class="valign-wrapper base-container modal-connection" style="display:none;">
        <div class="valign" style="width:100%;">
            <div class="container center-align">
                <div id="container-progress-connection">
                    <!-- Libellé -->
                    <div class="row">
                        <p class="white-text">Connexion au buzzer en cours . . .</p>
                    </div>
                    <!-- Progress bar -->
                    <div class="row">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-yellow-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../services/wifiService.js"></script>
<script type="text/javascript" src="../../services/clientCommunicatorService.js"></script>
<script type="text/javascript" src="../../services/sweetAlertService.js"></script>
<script type="text/javascript" src="../../utils/dom-helper.js"></script>
<script type="text/javascript" src="main.js"></script>

</html>