<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Configuration</title>
    <link rel="stylesheet" href="configuration.css">
    <link rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../../../node_modules/material-icons/iconfont/material-icons.css">
    <script type="text/javascript">
        window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</head>

<body>
    <div class="valign-wrapper base-container">
        <div class="valign" style="width:100%;">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <span class="card-title black-text">Configuration du buzzer</span>
                        <form>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div id="ssid-visibility-selector">
                                        <select id="ssid-selector">
                                            <option value="" disabled selected>Choisir SSID</option>
                                        </select>
                                    </div>
                                    <div id="ssid-visibility-input" style="display:none;">
                                        <input id="ssid" type="text" class="validate" placeholder="Rentrer un SSID">
                                    </div>
                                    <div class="switch">
                                        <label>
                                            Saisie libre Off
                                            <input id="switch-input" type="checkbox">
                                            <span class="lever"></span>
                                            Saisie libre On
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="text" class="validate">
                                    <label for="password" class="active">Mot de passe Wifi</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="server-ip-bgq" type="text" class="validate">
                                    <label for="server-ip-bgq" class="active">Ip serveur BGQ</label>
                                </div>
                            </div>
                            <div class="row">
                                <div id="team-container" class="input-field col s12">
                                    <select id="team-selector">
                                        <option value="" disabled selected>Choisir Equipe</option>
                                        <option value="mayo" data-icon="../public/images/teams/mayo.svg">Mayo</option>
                                        <option value="ketchup" data-icon="../public/images/teams/ketchup.svg">Ketchup</option>
                                    </select>
                                </div>
                                <div id="team-choosen-container" class="input-field col s1" style="display:none;">
                                    <img id="img-team-choosen" height="50" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s12 m6 offset-m3">
                        <input id="button-register" type="submit" class="btn" value="Enregistrer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de configuration -->
    <div id="modal-configuration" class="valign-wrapper base-container modal-configuration" style="display:none;">
        <div class="valign" style="width:100%;">
            <div class="container center-align">
                <div id="container-progress-connection">
                    <!-- Libellé -->
                    <div class="row">
                        <p id="modal-information" class="white-text"></p>
                    </div>
                    <!-- Progress bar -->
                    <div class="row">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-yellow-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../services/wifiService.js"></script>
<script type="text/javascript" src="../../services/clientCommunicatorService.js"></script>
<script type="text/javascript" src="../../services/sweetAlertService.js"></script>
<script type="text/javascript" src="../../utils/dom-helper.js"></script>
<script type="text/javascript" src="configuration.js"></script>

</html>